﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="MuffinMania.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>Contact.</h2>
    <h3>My Contact Information</h3>
    <address>
        <br />
        Edinburg, TX 78539<br />
        <abbr title="Phone">P:</abbr>
        956-240-6339 
        Email: antoabrand@gmail.com
        Alt Email: aaandrade@broncs.utpa.edu
    </address>
</asp:Content>
